/* Estilo da lista de equipamentos */
.weapon-list-container {
  padding: 20px;
}

.weapon-list-container h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.weapon-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaço entre os cards */
  justify-content: center; /* Centraliza os itens */
}

.weapon-list-item {
  display: flex;
  flex-direction: column; /* Alinha conteúdo em coluna */
  align-items: center;
  justify-content: flex-start; /* Alinha o conteúdo ao topo */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px; /* Largura fixa para uniformidade */
  height: 350px; /* Altura fixa para uniformidade */
  text-align: center; 
}

.weapon-list-item img {
  width: 80px;
  height: 80px;
  object-fit: contain; /* Garante que a imagem seja ajustada */
  margin-bottom: 10px;
}

.weapon-list-item .weapon-content {
  display: flex;
  flex-direction: column; /* Garante alinhamento vertical uniforme */
  align-items: center; /* Alinha os textos à esquerda */
  width: 100%; /* O texto ocupa toda a largura disponível */
  text-align: center;
}

.weapon-list-item h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
  text-align: left; /* Garante alinhamento uniforme à esquerda */
}

.weapon-list-item p {
  margin: 5px 0;
  color: #555;
  font-size: 14px;
  line-height: 1.4;
  text-align: left; /* Garante alinhamento uniforme à esquerda */
}

.weapon-select {
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: block;
  width: 200px;
  text-align: center;
}
